# Provide the next vars with a vars-file or modifying the default value
google = {
  project = "agoric-testnet-phase1"
  region  = "asia-southeast1"
  zone    = "asia-southeast1-c"
}

validator_name = "Agoric-testnet-phase1-validator"

validator_signer_accounts = {
    account_addresses = [
      "0xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
    ]
    private_keys = [
      "cxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
    ]
    #define your own strong password here
    account_passwords = [
      "Iez5lodohzaShap7ohH6ro5ohm9aecaezied4Esii3xeeBo1uxooP6aeluithu0u",
    ]
}
